In [1]:
import pandas as pd
import numpy as np

In [2]:
def squeeze_nan(x):
        original_columns = x.index.tolist()
        squeezed = x.dropna()
        squeezed.index = [original_columns[n] for n in range(squeezed.count())]
        return squeezed.reindex(original_columns, fill_value=np.nan)

In [3]:
df = pd.read_csv ('business_location.csv')
temp_df = df.StreetAddress.str.split(" ",expand=True)
temp_df= temp_df[temp_df.columns[::-1]]
temp_df = temp_df.apply(squeeze_nan, axis=1)
temp_df

,10,9,8,7,6,5,4,3,2,1,0
0,Street,Hindley,224,Ground,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Street,Kermode,72,Ground,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Drive,Victoria,,3,Level,NaN,NaN,NaN,NaN,NaN,NaN
3,Terrace,North,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Terrace,West,141-142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7906,Street,Burnett,10-14,Ground,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7907,Street,Burnett,10-14,,1,Level,NaN,NaN,NaN,NaN,NaN
7908,Street,Angas,27,Ground,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7909,Street,Angas,27A,Ground,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7910,Street,Flinders,45,,3,Level,NaN,NaN,NaN,NaN,NaN

In [4]:
temp_df[8]= temp_df[8].astype(str).replace(['Ground','nan', '/'],'')
df['clean_address'] = temp_df[8]+ ' ' + temp_df[9] + ' ' + temp_df[10] + ', ' + df['Suburb'] + ' ' + df['PostCode'].astype(str)
df.head()

,Country,Region,StreetAddress,Suburb,PostCode,Land_Use_Description,Unnamed: 6,Address,clean_address
0,Australia,South Australia,Ground 224 Hindley Street,ADELAIDE,5000,University,NaN,"Ground 224 Hindley Street, ADELAIDE 5000","224 Hindley Street, ADELAIDE 5000"
1,Australia,South Australia,Ground 72 Kermode Street,NORTH ADELAIDE,5006,Office,NaN,"Ground 72 Kermode Street, NORTH ADELAIDE 5006","72 Kermode Street, NORTH ADELAIDE 5006"
2,Australia,South Australia,Level 3 Victoria Drive,ADELAIDE,5000,University,NaN,"Level 3 Victoria Drive, ADELAIDE 5000","Victoria Drive, ADELAIDE 5000"
3,Australia,South Australia,North Terrace,ADELAIDE,5000,Amusement Centre,NaN,"North Terrace, ADELAIDE 5000","North Terrace, ADELAIDE 5000"
4,Australia,South Australia,141-142 West Terrace,ADELAIDE,5000,Shop,NaN,"141-142 West Terrace, ADELAIDE 5000","141-142 West Terrace, ADELAIDE 5000"

In [5]:
df.to_csv('clean_address.csv')